seungmin/data/trot.zip
seungmin/data/IU/sample/IU_1.mp3
seungmin/data/IU/sample/IU_2.mp3
seungmin/data/IU/sample/IU_3.mp3
seungmin/data/IU/sample/IU_4.mp3
seungmin/data/IU/sample/IU_5.mp3
seungmin/data/IU/sample/IU_6.mp3
seungmin/data/IU/sample/IU_7.mp3
seungmin/data/IU/sample/IU_8.mp3
seungmin/data/IU/sample/IU_9.mp3
seungmin/data/IU/sample/IU_10.mp3
seungmin/data/IU/sample/IU_ex.mp3
seungmin/data/IU/target/IU6 [vocals].wav
seungmin/data/IU/target_song/check_in [vocals].wav
seungmin/data/IU/vocal/IU_1 [vocals].wav
seungmin/data/IU/vocal/IU_2 [vocals].wav
seungmin/data/IU/vocal/IU_3 [vocals].wav
seungmin/data/IU/vocal/IU_4 [vocals].wav
seungmin/data/IU/vocal/IU_5 [vocals].wav
seungmin/data/IU/vocal/IU_6 [vocals].wav
seungmin/data/IU/vocal/IU_7 [vocals].wav
seungmin/data/IU/vocal/IU_8 [vocals].wav
seungmin/data/IU/vocal/IU_9 [vocals].wav
seungmin/data/IU/vocal/IU_10 [vocals].wav
seungmin/data/IU/노래/check_in.mp3
seungmin/data/IU/노래/IU1.mp3
seungmin/data/IU/노래/IU2.mp3
seungmin/data/IU/노래/IU3.mp3
seungmin/data/IU/노래/IU4.mp3
seungmin/data/IU/노래/IU5.mp3
seungmin/data/IU/노래/IU6.mp3
seungmin/data/IU/노래/IU7.mp3
seungmin/data/IU/노래/IU8.mp3
seungmin/data/IU/노래/IU9.mp3
seungmin/data/IU/노래/IU10.mp3
seungmin/data/IU/노래/IUex.mp3
seungmin/data/Japanese/target_song/sigh [vocals].wav
seungmin/data/Japanese/target_song/waiting.wav
seungmin/data/Japanese/vocal/Japanese_1.wav
seungmin/data/Japanese/vocal/Japanese_2.wav
seungmin/data/Japanese/vocal/Japanese_3.wav
seungmin/data/Japanese/vocal/Japanese_4.wav
seungmin/data/Japanese/vocal/Japanese_5.wav
seungmin/data/Japanese/vocal/Japanese_6.wav
seungmin/data/Japanese/vocal/Japanese_7.wav
seungmin/data/Japanese/vocal/Japanese_8.wav
seungmin/data/Japanese/vocal/Japanese_9.wav
seungmin/data/Japanese/vocal/Japanese_10.wav
seungmin/data/Japanese/노래/Japanese1.wav
seungmin/data/Japanese/노래/Japanese2.wav
seungmin/data/Japanese/노래/Japanese3.wav
seungmin/data/Japanese/노래/Japanese4.wav
seungmin/data/Japanese/노래/Japanese5.wav
seungmin/data/Japanese/노래/Japanese6.wav
seungmin/data/Japanese/노래/Japanese7.wav
seungmin/data/Japanese/노래/Japanese8.wav
seungmin/data/Japanese/노래/Japanese9.wav
seungmin/data/Japanese/노래/Japanese10.wav
seungmin/data/Japanese/노래/sigh.wav
seungmin/data/trot/trot1.wav
seungmin/data/trot/trot2.wav
seungmin/data/trot/trot3.wav
seungmin/data/trot/trot4.wav
seungmin/data/trot/trot5.wav
seungmin/data/trot/trot6.wav
seungmin/data/trot/trot7.wav
seungmin/data/trot/trot8.wav
seungmin/data/trot/trot9.wav
seungmin/data/trot/trot10.wav
seungmin/data/trot/trot11.wav
seungmin/data/trot/trot12.wav
seungmin/data/trot/trot13.wav
seungmin/data/trot/trot14.wav
seungmin/data/trot/trot15.wav
seungmin/data/trot/trot16.wav
seungmin/data/trot/trot17.wav
seungmin/data/trot/trot18.wav
seungmin/data/trot/trot19.wav
seungmin/data/trot/trot20.wav
seungmin/data/trot/trot21.wav
seungmin/data/trot/trot22.wav
seungmin/data/trot/trot23.wav
seungmin/data/trot/trot24.wav
seungmin/data/trot/trot25.wav
seungmin/data/trot/trot26.wav
seungmin/data/trot/trot27.wav
seungmin/data/trot/trot28.wav
seungmin/data/trot/trot29.wav
seungmin/data/trot/trot30.wav
seungmin/data/trot/trot31.wav
seungmin/data/trot/trot32.wav
seungmin/data/trot/trot33.wav
seungmin/data/trot/trot34.wav
seungmin/data/trot/trot35.wav
seungmin/data/trot/trot36.wav
seungmin/data/trot/trot37.wav
seungmin/data/trot/trot38.wav
seungmin/data/trot/trot39.wav
seungmin/data/trot/trot40.wav
seungmin/data/trot/trot41.wav
seungmin/data/trot/trot42.wav
seungmin/data/trot/trot43.wav
seungmin/data/trot/trot44.wav
seungmin/data/trot/trot45.wav
seungmin/data/trot/trot46.wav
seungmin/data/trot/trot47.wav
seungmin/data/trot/trot48.wav
seungmin/data/trot/trot49.wav
seungmin/data/trot/trot50.wav
seungmin/data/trot/trot51.wav
seungmin/data/trot/trot52.wav
seungmin/data/trot/trot53.wav
seungmin/data/trot/trot54.wav
seungmin/data/trot/trot55.wav
seungmin/data/trot/trot56.wav
seungmin/data/trot/trot57.wav
seungmin/data/trot/trot58.wav
seungmin/data/trot/trot59.wav
seungmin/data/trot/trot60.wav
seungmin/data/trot/trot61.wav
seungmin/data/trot/trot62.wav
seungmin/data/trot/trot63.wav
seungmin/data/trot/trot64.wav
seungmin/data/trot/trot65.wav
seungmin/data/trot/trot66.wav
seungmin/data/trot/trot67.wav
seungmin/data/trot/trot68.wav
seungmin/data/trot/trot69.wav
seungmin/data/trot/trot70.wav
seungmin/data/trot/trot71.wav
seungmin/data/trot/trot72.wav
seungmin/data/trot/trot73.wav
seungmin/data/trot/trot74.wav
seungmin/data/trot/trot75.wav
seungmin/data/trot/trot76.wav
seungmin/data/trot/trot77.wav
seungmin/data/trot/trot78.wav
seungmin/data/trot/trot79.wav
seungmin/data/trot/trot80.wav
seungmin/data/trot/trot81.wav
seungmin/data/trot/trot82.wav
seungmin/data/trot/trot83.wav
seungmin/data/trot/trot84.wav
seungmin/data/trot/trot85.wav
seungmin/data/trot/trot86.wav
seungmin/data/trot/trot87.wav
seungmin/data/trot/trot88.wav
seungmin/data/trot/trot89.wav
seungmin/data/trot/trot90.wav
seungmin/data/trot/trot91.wav
seungmin/data/trot/trot92.wav
seungmin/data/trot/trot93.wav
seungmin/data/trot/trot94.wav
seungmin/data/trot/trot95.wav
seungmin/data/trot/trot96.wav
seungmin/data/trot/trot97.wav
seungmin/data/trot/trot98.wav
seungmin/data/trot/trot99.wav
seungmin/data/trot/trot100.wav
seungmin/data/IU/target/IU6 [vocals].wav
seungmin/data/IU/target_song/check_in [vocals].wav
seungmin/data/IU/vocal/IU_1 [vocals].wav
seungmin/data/IU/vocal/IU_2 [vocals].wav
seungmin/data/IU/vocal/IU_3 [vocals].wav
seungmin/data/IU/vocal/IU_4 [vocals].wav
seungmin/data/IU/vocal/IU_5 [vocals].wav
seungmin/data/IU/vocal/IU_6 [vocals].wav
seungmin/data/IU/vocal/IU_7 [vocals].wav
seungmin/data/IU/vocal/IU_8 [vocals].wav
seungmin/data/IU/vocal/IU_9 [vocals].wav
seungmin/data/IU/vocal/IU_10 [vocals].wav
seungmin/data/Japanese/target_song/sigh [vocals].wav
